<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">  
        <title>Qurno - Minimal Blog HTML Template</title>
        <link rel="stylesheet" href="assets/styles/css/style.css" />
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li>Home</li>
                    <li>About</li>
                    <li>Elements</li>
                    <li>Archive</li>
                    <li>Contact</li>
                    <li>Pages
                        <ul hidden>
                            <li>Author</li>
                            <li>Author Single</li>
                            <li>Tags</li>
                            <li>Tag Single</li>
                            <li>Categories</li>
                            <li>Category Single</li>
                            <li>404 Page</li>
                            <li>Privacy</li>
                        </ul>
                    </li>
                </ul>
                <button><span>Search</span></button>
            </nav>
        </header>
        <main>
            <section>
                <h1>Taking control of your daily life is easy when you know how!</h1>
            </section>
            <section>
                <h2>Recent posts</h2>
                <article>
                    <header>
                        
                    </header>
                    <section>
                        <h3>The AGI hype train is running out of steam</h3>
                        <p>The AGI hype train has hit some heavy traffic. While futurists and fundraisers used to make bullish predictions about artificial general intelligence, …
                        </p>
                    </section>
                    <footer>
                        <ul>
                            <li>by Thomas</li>
                            <li>Machine</li>
                        </ul>
                    </footer>
                </article>
                <article>
                    
                </article>
                <article>
                    
                </article>
                <article>
                    
                </article>
                <article>
                    
                </article>
                <article>
                    
                </article>
            </section>
        </main>
    </body>
</html>